.LandingPage {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets//images/bg-hero.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.HeroText {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeroText h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
}

.Button {
  width: 10rem;
  margin: 2.5rem auto;
}
